.ph1 {
    color: white;
    font-size: 56px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 1%;
    margin-top: 1%;
}

.content {
    width: 87.6%;
    margin: 0 auto;
    margin-top: 0.5%;
    color: white;
}

/*Список фильмов*/
.archive {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5.21vw;
    grid-auto-flow: row dense;
    margin-bottom: 2.08vw;
}

.article {
    width: 15.63vw;
    height: 20.83vw;
}

.article1 {
    justify-self: start;
}

.article4 {
    justify-self: end;
}

.article img {
    width: 100%;
    height: 100%;
    filter: brightness(100%);
    transition: 0.5s;

}

.article img:hover {
    filter: brightness(50%);
    transition: 0.5s;
}

.sortBY {
    font-size: 32px;
    margin-bottom: 1.75%;
}

select {
    width: 225px;
    font-size: 32px;
    color: white;
    background: none;
    border: 0;
    border-radius: 0px;
    outline: none;
    appearance: none;
}

.select-wrapper {
    appearance: none;
    position: relative;
    width: fit-content;
}

.select-wrapper::after {
    content: "▼";
    font-size: 16px;
    top: 30%;
    right: 0;
    position: absolute;
}

option {
    font-size: 32px;
    color: white;
    background: black;
    border: 0;
    outline: none;
    padding: 0;
}
.divSearch {
    font-size: 32px;
    margin-bottom: 1.75%;
}
#inputSearchMovie {
    font-size: 32px;
    border: 0;
    border-bottom: 1px white solid;
    color: white;
    outline: none;
    box-sizing: border-box;
    background-color: black;
}
#notFound {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 32px;
    margin-bottom: 3%;
}

@media screen and (width <=768px) {
    #notFound {
        font-size: 4.1667vw;
    }
    .archive {
        grid-template-columns: repeat(2, 1fr);
    }

    .article {
        width: 31.26vw;
        height: 41.66vw;
        justify-self: center;
    }
    .sortBY {
        font-size: 4.1667vw;
        margin-bottom: 1.75%;
    }
    
    select {
        width: 29.2969vw;
        font-size: 4.1667vw;
        color: white;
        background: none;
        border: 0;
        border-radius: 0px;
        outline: none;
        appearance: none;
    }
    
    .select-wrapper {
        appearance: none;
        position: relative;
        width: fit-content;
    }
    
    .select-wrapper::after {
        content: "▼";
        font-size: 2.0833vw;
        top: 30%;
        right: 0;
        position: absolute;
    }
    
    option {
        font-size: 4.1667vw;
        color: white;
        background: black;
        border: 0;
        outline: none;
        padding: 0;
    }
    .divSearch {
        font-size: 4.1667vw;
    }
    #inputSearchMovie {
        font-size: 4.1667vw;
    }
    
}

@media screen and (width <=600px) {
    .ph1 {
        font-size: 9.3333vw;
    }
}